<div style="display:flex;margin-bottom:4.375rem">
    <div class=" gatsby-image-wrapper" style="position:relative;overflow:hidden;display:inline-block;width:50px;height:50px;margin-right:0.875rem;margin-bottom:0;min-width:50px;border-radius:100%">
        <img src="{{ site.url }}/{{ 'assets/image/profile-pic.jpg' }}" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; transition: opacity 2.5s ease 0.5s; border-radius: 50%;">
        <picture>
            <source srcset="profile-pic.jpg 1x,profile-pic.jpg 1.5x,profile-pic.jpg 2x,profile-pic.jpg3x" />
        </picture>
        <noscript>
            <picture>
                <source srcSet="profile-pic.jpg 1x,/static/profile-pic.jpg 1.5x,/static/profile-pic.jpg 2x,/static/profile-pic.jpg 3x" />
                <img width="50" height="50" src="{{ site.url }}/{{ 'assets/image/profile-pic.jpg' }}" alt="" style="position:absolute;top:0;left:0;transition:opacity 2.5s;transition-delay:0.5s;width:100%;height:100%;object-fit:cover;object-position:center" />
            </picture>
        </noscript>
    </div>
    <p style="padding-right:0.8rem;font-size:14px">
        اندیشه های خام درباره نرم افزار و دیگر چیزها، به قلم <strong>حمزه جوادی</strong>
     از شیراز. مرا در   <a href="https://github.com/{{ site.github }}">گیت هاب</a>، 
        <a href="https://Medium.com/@{{ site.medium }}">مدیوم</a>
        و یا در <a href="https://virgool.io/@{{ site.virgool }}">ویرگول</a>
     دنبال کنید. 
     با من در جیمیل با hjavadish در ارتباط باشید
    </p>
</div>